{% extends 'base.html' %}

{% block body %}

<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/assets/img/about.avif" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 order-2 order-lg-1 content">
          <h3>About</h3><br>
          <p class="fst-italic">
            Welcome to aswa fitness, where fitness meets lifestyle. Our mission is to inspire and empower individuals to achieve their health and wellness goals in a supportive and inclusive environment. Whether you're a beginner taking the first step on your fitness journey or an experienced athlete looking to push your limits, we’ve got you covered.

            At aswa fitness, we offer state-of-the-art equipment, a wide variety of group classes, and expert personal trainers dedicated to helping you succeed. From cardio and strength training to yoga and functional fitness, we provide tailored solutions for every fitness level and goal.

            At aswa fitness, we aim to inspire a healthier, stronger, and more confident community. We believe that fitness is not just about physical appearance but about mental strength, self-discipline, and overall well-being.
            
            Our gym is more than just a workout space—it’s a community. We believe in fostering a positive atmosphere where members motivate and uplift each other. Join us to discover your potential, challenge yourself, and live a healthier, happier life.
          </p>
          
        </div>
      </div>

    </div>
    

  </section><!-- /About Section -->

{% endblock body %}